 
 
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum'),local('Cuprum-Regular'),url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/mn4VPBSqQXCLGhD-YfHBHw.woff) format('woff');
 }
 
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 700;
	src: local('Cuprum Bold'),local('Cuprum-Bold'),url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/c7zShuBQq4ZpIJ8BT4kcTw.woff) format('woff');
 }
 
@font-face {
	font-family: 'Cuprum';
	font-style: italic;
	font-weight: 400;
	src: local('Cuprum Italic'),local('Cuprum-Italic'),url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/y4vfqo0Ocb6_53BQZVcsMw.woff) format('woff');
 }
 
@font-face {
	font-family: 'Cuprum';
	font-style: italic;
	font-weight: 700;
	src: local('Cuprum Bold Italic'),local('Cuprum-BoldItalic'),url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/bnkXaBfoYvaJ75axRPSwVD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
 }
 
@font-face {
	font-family: 'Ubuntu Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Condensed'),local('UbuntuCondensed-Regular'),url(http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v3/DBCt-NXN57MTAFjitYxdrO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
 }
 
* {outline: none;}
 
html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,dl,dt,dd,ol,ul,li,form,label,input,textarea,table,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
 }
 
body {
    background-size: cover;
    background-attachment: fixed;
	font-family: 'Calibri',sans-serif;
	font-size: 15px;
	color: #f4f4f4;
 }
 
html,body {}
 
a {
	text-decoration: none;
	color: #000;
 }
 
	a img,img {
		max-width: 100%;
		border: 0;
	 }
 
ul,li,dl,dt,dd {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
 }
 
p {margin: 10px 0;}
 
hr {
	background: #535353;
	color: #535353;
	border: none;
	height: 1px;
 }
 
h1,h2,h3,h4,h5,h6 {
	display: inline-block;
	margin-bottom: 3px;
	font-weight: 100;
	font-size: 100%;
 }
 
.left,.lcol {float: left;}
 
.right,.rcol {float: right;}
 
.center {text-align: center;}
 
.hidden,textarea {overflow: hidden;}
 
.none {display: none;}
 
.clear {
	overflow: hidden;
	width: 100%;
	clear: both;
	height: 0;
 }
 
.clear_table {
	border-collapse: collapse;
	padding: 0;
	border: 0;
	margin: 0;
 }
 
.wrap {
	width: 1000px;
	margin: auto;
	height: 100%;
 }
 
#main {
	position: relative;
	width: 1000px;
	overflow: hidden;
	margin: auto;
	z-index: 10;
 }
 
* html #main {
	max-width: 1000px;
	margin: auto;
	height: 100%;
	z-index: 10;
 }
 
form {
	display: block;
	padding: 0;
	margin: 0;
 }
 
input,textarea,select,button,label {vertical-align: middle;}
 
label,input[type="button"],input[type="submit"],input[type="reset"],button {cursor: pointer;}
 
textarea {
	font-family: 'Calibri',sans-serif;
	border: 1px solid #e0e4ea;
	background: #fff;
	padding: 8px 12px;
	font-size: 14px;
	resize: vertical;
	width: 100%;
	color: #333;
 }
 
form *::-webkit-input-placeholder {color: #333;}
 
form *:-moz-placeholder {color: #333;}
 
#field::-webkit-input-placeholder {color: #fff;}
 
#field:-moz-placeholder {color: #fff;}
 
input[type="text"],input[type="name"],input[type="mail"],input[type="password"] {
	font-family: 'Calibri',sans-serif;
	border: 1px solid #e0e4ea;
	background: #fff;
	padding: 8px 12px;
	font-size: 14px;
	display: block;
	width: 100%;
	color: #333;
 }
 
input[type="button"],input[type="submit"],input[type="reset"],button {
	background: rgba(36, 100, 173, 0.99);
	padding: 0 12px;
	border: none;
	color: #fff;
	-webkit-transition: background .3s ease-in;
	-moz-transition: background .3s ease-in;
	-ms-transition: background .3s ease-in;
	-o-transition: background .3s ease-in;
	transition: background .3s ease-in;
 }
 
input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover {background: rgba(21, 75, 136, 0.99);}
 
.outlink {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	left: 0;
	top: 0;
 }
 
#header #h-nav li a,#header #h-nav li span,#cat a,#aplhabet a,.cat-list li a,#f-nav li a {
	-webkit-transition: color .35s ease;
	-moz-transition: color .35s ease;
	-ms-transition: color .35s ease;
	-o-transition: color .35s ease;
	transition: color .35s ease;
 }
 
.cont-cat li {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
 }
 
#header {position: relative;}
 
	#header #h-nav {
		background: url(../img/h-nav.png) repeat-x;
		position: relative;
		line-height: 44px;
		padding: 0 18px;
		height: 45px;
		z-index: 150;
	 }
 
		#header #h-nav li {float: left;}
 
			#header #h-nav li a,#header #h-nav li span {
				padding-right: 18px;
				color: #f4f4f4;
				font-family: 'Cuprum';
				cursor: pointer;
			 }
 
			#header #h-nav li:hover a,#header #h-nav li:hover span {color: rgb(0, 139, 255);}
 
			#header #h-nav li.drop,#currency .value.drop {background: url(/source/img/blue/arrow.png)/***css-loader:: can't load recource***/ no-repeat right center;}
 
			#header #h-nav li>ul {
				position: absolute;
				padding-top: 5px;
				overflow: hidden;
				z-index: 300;
			 }
 
			#header #h-nav li:hover>ul {}
 
			#header #h-nav li>ul>li {
				float: none;
				height: 30px;
				width: 170px;
				display: block;
				overflow: hidden;
				line-height: 30px;
				margin-bottom: 1px;
				text-align: center;
				background: rgba(51,51,51,.8);
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
			 }
 
				#header #h-nav li>ul>li:hover {background: rgba(108,153,51,.8);}
 
				#header #h-nav li>ul>li>a {
					background: none!important;
					color: #e7e7e7!important;
					padding-right: 0;
					display: block;
					height: 30px;
				 }
 
#h-poster {
	position: relative;
	overflow: hidden;
	margin-top: -1px;
	height: 178px;
	z-index: 100;
 }
 
	#h-poster img {height: 182px;}
 
	#h-poster #h-shadw {
		background: url(../img/h-shadw.png) repeat-x 0 bottom;
		position: absolute;
		height: 178px;
		width: 100%;
		bottom: 0;
	 }
 
	#h-poster #h-logo {
		position: absolute;
		display: block;
		height: 178px;
	 }
 
#h-searchbar {
	background: rgba(6,6,7,.75);
	padding-right: 16px;
	position: relative;
	display: block;
	height: 39px;
 }
 
#h-search {
	background: url(../img/h-search.png) no-repeat;
	margin-left: 15px;
	margin-top: 13px;
	width: 336px;
	height: 26px;
	float: left;
 }
 
	#h-search #field {
		font-family: 'Cuprum',sans-serif;
		padding: 0 0 0 20px;
		line-height: 1.1;
		overflow: hidden;
		background: none;
		font-size: 15px;
		width: 266px;
		border: none;
		float: left;
		color: #fff;
		margin: 0;
	 }
 
	#h-search #submit {
		background: url(/source/img/blue/h-search.png)/***css-loader:: can't load recource***/ no-repeat right 0;
		float: left;
		border: none;
		height: 26px;
		width: 70px;
		margin: 0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	 }
 
		#h-search #submit:hover {background-position: right -26px;}
 
#cat {
	background: url(/source/img/blue/h-alp.png)/***css-loader:: can't load recource***/ no-repeat;
	text-align: center;
	padding-top: 5px;
	height: 39px;
	width: 51px;
	float: left;
 }
 
	#cat a {
		font-family: 'Calibri',sans-serif;
		font-size: 13px;
		display: block;
		line-height: 1;
		color: #fff;
	 }
 
		#cat a:hover,#aplhabet a:hover {color: #71c700;}
 
#aplhabet {
	background: url(/source/img/blue/h-alp.png)/***css-loader:: can't load recource***/ no-repeat right 0;
	text-align: center;
	padding: 2px 12px;
	overflow: hidden;
	height: 39px;
	width: 220px;
	float: left;
 }
 
	#aplhabet a {
		font-family: 'Calibri',sans-serif;
		padding-right: 4px;
		font-size: 13px;
		color: #fff;
	 }
 
	#aplhabet .row {
		margin-top: -3px;
		display: block;
	 }
 
	#aplhabet .a-eng a:nth-of-type(13),#aplhabet .a-eng .row a:last-child {padding-right: 0;}
 
	#aplhabet .a-num {margin-top: 8px;}
 
#bags {
	background: url(/source/img/blue/searbar-ico.png)/***css-loader:: can't load recource***/ no-repeat 0 0;
	margin-right: 22px;
	padding-left: 26px;
	line-height: 39px;
	height: 39px;
	float: left;
	color: #fff;
 }
 
	#bags a {
		font-family: 'Cuprum';
		display: block;
		height: 38px;
		color: #fff;
	 }
 
		#bags a:hover {border-bottom: 1px solid rgb(0, 44, 186);}
 
#currency {
	position: relative;
	margin-top: 10px;
	float: left;
 }
 
	#currency .check {
		margin-right: 7px;
		font-style: normal;
		color: #9a9d9f;
		height: 14px;
		width: 12px;
		float: left;
	 }
 
	#currency .hvr {float: left;}
 
	#currency .value {
		padding-right: 25px;
		cursor: pointer;
	 }
 
		#currency .value em {
			font-family: 'Cuprum';
			font-style: normal;
			padding-bottom: 10px;
		 }
 
		#currency .value:hover em {border-bottom: 1px solid #71c700;}
 
.currency-list {
	position: absolute;
	overflow: hidden;
	height: 50px;
	width: 100px;
	padding-top: 22px;
 }
 
	.currency-list li {
		margin-right: 10px;
		color: #8a8a8c;
		float: left;
	 }
 
		.currency-list li a {
			color: #8a8a8c;
			cursor: pointer;
		 }
 
#cat-bar {
	background: #141518;
	overflow: hidden;
	height: 39px;
 }
 
.cat-list {
	line-height: 39px;
	padding: 0 15px;
 }
 
	.cat-list li {
		margin-right: 18px;
		float: left;
	 }
 
		.cat-list li a {
			font-family: 'Cuprum';
			color: #d5d5d5;
			cursor: pointer;
		 }
 
		.cat-list li:hover a {color: rgb(0, 139, 255);}
 
#middle {
	background: url(../img/middle.png) repeat-y;
	position: relative;
	overflow: hidden;
 }
 
#side-left {
	padding-top: 6px;
	width: 190px;
	float: left;
 }
 
#side-right {
	width: 182px;
	float: right;
 }
 
#content {
	font-family: 'Calibri',sans-serif;
	padding: 8px 0 8px 10px;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	width: 810px;
	float: left;
	color: #333;
 }
 
#content-c {
	width: 618px;
	float: left;
 }
 
.b-nav {}
 
	.b-nav li {
		padding-left: 16px;
		line-height: 27px;
		height: 27px;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	 }
 
		.b-nav li:hover {
			border-left: 2px solid #920e03;
			padding-left: 20px;
		 }
 
		.b-nav li a {
			font-family: 'Cuprum';
			display: block;
			color: #d5d5d5;
			height: 27px;
		 }
 
			.b-nav li a:hover {
				color: #fff;
				cursor: pointer;
			 }
 
#side-right .right-box:first-child {margin-top: 0;}
 
.left-box,.right-box {
	margin-left: 8px;
	margin-top: 8px;
	overflow: hidden;
	width: 182px;
 }
 
.right-box {margin-left: 0;}
 
.block-top,#side-right .block-top {
	background: url(../img/block-top.png) no-repeat;
	font-family: 'Calibri',sans-serif;
	text-shadow: 0 0 1px #315c0b;
	margin-bottom: 8px;
	padding-left: 28px;
	line-height: 33px;
	overflow: hidden;
	font-size: 14px;
	width: 182px;
	height: 33px;
	color: #fff;
 }
 
#side-right .block-top {background-position: 0 -33px;}
 
.item-poster {
	margin-bottom: 8px;
	position: relative;
	overflow: hidden;
 }
 
.item-poster,.item-poster img {
	height: 85px;
	width: 182px;
 }
 
.item-poster:last-child {margin-bottom: 0;}
 
.item-poster .sale {
	font-family: 'Calibri',sans-serif;
	text-shadow: 0 1px 0 #c4393b;
	background: rgba(216,0,0,.7);
	position: absolute;
	line-height: 23px;
	margin-top: 4px;
	font-size: 14px;
	padding: 0 8px;
	height: 23px;
	z-index: 110;
	color: #fff;
 }
 
.item-poster .coast {
	font-family: 'Calibri',sans-serif;
	background: rgba(0,0,0,.7);
	position: absolute;
	line-height: 23px;
	margin-top: 4px;
	font-size: 14px;
	padding: 0 8px;
	height: 23px;
	z-index: 110;
	color: #fff;
	right: 0;
 }
 
.item-poster .name {
	font-family: 'Cuprum',sans-serif;
	text-shadow: 0 1px 0 #312f34;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	font-size: 15px;
	margin: 0 10px;
	z-index: 110;
	width: 162px;
	bottom: 8px;
	color: #fff;
 }
 
	.item-poster .name a {color: #fff;}
 
.item-poster:hover .name {
	white-space: pre-wrap;
	text-overflow: none;
	max-height: 36px;
 }
 
.item-poster .poster-shadw {
	background: url(../img/poster-shadw.png) repeat-x 0 bottom;
	position: absolute;
	overflow: hidden;
	height: 100%;
	z-index: 100;
	width: 100%;
 }
 
.saler {font-family: 'Cuprum';}
 
	.saler li {color: #d5d5d5;}
 
		.saler li.row {
			margin-bottom: 10px;
			color: #fff;
		 }
 
		.saler li.row2 {margin-top: 10px;}
 
		.saler li span,.saler li a {color: #71c700;}
 
.payment {
	background: url(/source/img/blue/payment.png)/***css-loader:: can't load recource***/ no-repeat;
	text-align: center;
	margin: auto;
	display: block;
	width: 170px;
	height: 73px;
 }
 
.item-top {
	margin: 10px 0;
	height: 30px;
 }
 
.cont-cat {float: left;}
 
	.cont-cat li {
		text-shadow: 0 1px 0 #4a7c03;
		background: #66a003;
		margin-right: 8px;
		line-height: 30px;
		padding: 0 10px;
		height: 30px;
		float: left;
		color: #fff;
	 }
 
		.cont-cat li:hover,.full-box .buy-item .buy-link:hover {background: #3c3c3c;}
 
		.cont-cat li a {
			display: block;
			height: 30px;
			color: #fff;
		 }
 
		.cont-cat li:hover a {text-shadow: 0 1px 0 #333;}
 
.item-list,.item-block {
	background: url(/source/img/blue/item-view.png)/***css-loader:: can't load recource***/ no-repeat;
	margin-left: 7px;
	margin-top: 8px;
	height: 13px;
	width: 13px;
	float: left;
 }
 
.item-block {background-position: right 0;}
 
.item-list:hover,.item-list.cur {background-position: 0 -13px;}
 
.item-block:hover,.item-block.cur {background-position: right -13px;}
 
.item-loop {
	background: #3c3c3c;
	margin-bottom: 10px;
	position: relative;
	margin-right: 10px;
	overflow: hidden;
	height: 110px;
	padding: 3px;
	width: 196px;
	float: left;
 }
 
	.item-loop:hover {background: rgb(0, 139, 255);}
 
	.item-loop .coast,.item-loop .name,.item-loop .sale {
		font-family: 'Calibri',sans-serif;
		position: absolute;
		overflow: hidden;
		font-size: 14px;
		z-index: 110;
		color: #fff;
	 }
 
	.item-loop .coast,.item-loop .sale {
		background: rgba(228, 49, 49, 0.82);
		line-height: 23px;
		padding: 0 8px;
		height: 23px;
		top: 7px;
	 }
 
	.item-loop .coast {right: 7px;}
 
	.item-loop .name {
		background: rgba(0,0,0,.7);
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 5px 10px;
		width: 190px;
		bottom: 3px;
	 }
 
		.item-loop .name a {color: #fff;}
 
	.item-loop:hover .name {
		white-space: pre-wrap;
		text-overflow: none;
		max-height: 42px;
	 }
 
	.item-loop.list {
		background: #f7f7f7;
		font-size: 14px;
		height: 40px;
		float: none;
		width: 100%;
		margin: 0;
	 }
 
		.item-loop.list .name,.item-loop.list .coast,.item-loop.list .name a,.item-loop.list .coast a {color: #333;}
 
		.item-loop.list:hover .name,.item-loop.list:hover .coast,.item-loop.list:hover .name a,.item-loop.list:hover .coast a,.faq-que span,.faq-ans span,.review .review-bot span,.garant-box span,.buy-help a {color: #4b8400;}
 
		.item-loop.list:nth-child(2n) {background: #e9edf2;}
 
		.item-loop.list .name {
			padding: 8px 16px;
			background: none;
			width: 480px;
			bottom: auto;
			color: #333;
		 }
 
		.item-loop.list:hover .name {white-space: nowrap;}
 
		.item-loop.list .coast {
			margin-right: 16px;
			margin-top: 9px;
			background: none;
			color: #333;
			top: 0;
		 }
 
		.item-loop.list .poster {display: none;}
 
	.item-loop img {
		height: 103px;
		width: 196px;
	 }
 
	.item-loop .sale {
		background-color: rgba(113,199,0,.7);
		z-index: 111;
	 }
 
	.item-loop.list .sale {
		margin-top: 2px;
		right: 0;
		margin-right: 110px;
	 }
 
.static-text {
	background: url(/source/img/blue/faq-top.png)/***css-loader:: can't load recource***/ repeat-x 0 center;
	margin-bottom: 15px;
	text-align: center;
	line-height: 18px;
	display: block;
	height: 16px;
 }
 
	.static-text span {
		font-family: 'Calibri',sans-serif;
		display: inline-block;
		background: #f7f7f7;
		margin-top: -5px;
		font-size: 18px;
		padding: 0 6px;
		color: #4b8400;
	 }
 
.faq-que {
	background: #e9edf2 url(/source/img/blue/faq-que.png)/***css-loader:: can't load recource***/ no-repeat 98% center;
	padding: 10px 18px;
	overflow: hidden;
	color: #333;
 }
 
.faq-ans {padding: 10px 18px;}
 
.review {
	border-left: 2px solid #71c700;
	margin-bottom: 12px;
	overflow: hidden;
 }
 
	.review .review-mess {
		padding: 12px 18px 10px 16px;
		background: #e9edf2;
		overflow: hidden;
	 }
 
	.review .review-bot {
		padding: 11px 0 9px 16px;
		overflow: hidden;
	 }
 
#review-form {margin: 30px 0;}
 
.full-box {
	background: #e9edf2;
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
 }
 
	.full-box .poster {
		overflow: hidden;
		height: 230px;
		width: 450px;
		float: left;
	 }
 
		.full-box .poster img {
			display: block;
			height: 230px;
			width: 450px;
		 }
 
	.full-box .infor {
		width: 340px;
		float: left;
	 }
 
	.full-box .item-top {
    border-bottom: 1px dashed #cfd7e0;
    margin-bottom: 8px;
    padding: 0 13px;
    font-size: 15px;
    display: block;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	 }
 
		.full-box .item-top span {color: #6b7682;}
 
	.full-box .info-list {
		margin-left: 15px;
		max-width: 210px;
		float: left;
	 }
 
		.full-box .info-list li {
			margin-bottom: 4px;
			color: #333;
		 }
 
			.full-box .info-list li:last-child {margin-bottom: 0;}
 
			.full-box .info-list li a,.full-box .info-list li span {color: #5a8c24;}
 
	.full-box .item-check {
		text-shadow: 0 1px 0 #fbfbfc;
		margin-right: 15px;
		text-align: right;
		color: #818790;
		float: right;
	 }
 
	.full-box .buy-item {
		margin-right: 8px;
		margin-top: 40px;
		float: right;
		height: 29px;
	 }
 
		.full-box .buy-item .coast {
			text-shadow: 0 1px 0 rgba(14, 0, 216, 0.7);
			background: rgba(0, 101, 216, 0.7);
			margin-right: 8px;
			line-height: 28px;
			padding: 0 8px;
			height: 29px;
			color: #fff;
			float: left;
		 }
 
		.full-box .buy-item .buy-link {
			text-shadow: 0 1px 0 rgb(146, 14, 3);
			background: rgb(146, 14, 3);
			line-height: 28px;
			padding: 0 8px;
			height: 29px;
			float: left;
			color: #fff;
		 }
 
.full-nav {
	display: inline-block;
	margin-bottom: 10px;
 }
 
	.full-nav li {
    margin-right: 10px;
    float: left;
    background: #3c3c3c;
    line-height: 35px;
    padding: 0 15px;
    display: block;
    height: 35px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
	 }
 
		.full-nav li:hover,.full-nav li.cur {background: #002cba;}
 
.tab-box {
	width: 790px;
	display: none;
 }
 
	.tab-box.cur {display: block;}
 
.full-content {overflow: hidden;}
 
.full-posters {
	float: right;
	width: 305px;
	margin-right: 10px;
 }
 
	.full-posters li {
		margin: 0 5px 5px 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		min-width: 150px;
		float: left;
	 }
 
		.full-posters li:nth-child(even) {margin-right: 0;}
 
		.full-posters li img {
			width: 150px;
			min-height: 84px;
			overflow: hidden;
			display: block;
		 }
 
		.full-posters li a {
			font-family: 'Ubuntu Condensed';
			background: rgba(0,0,0,.6);
			position: absolute;
			text-align: center;
			line-height: 25px;
			font-size: 14px;
			color: #d1d2d2;
			bottom: -28px;
			height: 28px;
			margin: auto;
			width: 100%;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		 }
 
		.full-posters li:hover a {bottom: 0;}
 
.vk-comments {
	margin: 5px 10px 5px 0;
	width: 790px;
 }
 
.garant-img {
	text-align: center;
	margin: 10px;
 }
 
.garant-box {
	font-family: 'Calibri';
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 16px;
	padding-top: 16px;
 }
 
.buy-help {
	overflow: hidden;
	margin: 0 10px;
	font-size: 14px;
	color: #000;
	font-family: 'Calibri';
 }
 
	.buy-help p {margin: 0 0 20px;}
 
.help-row {
	font-family: 'Calibri';
	font-size: 18px;
	color: #4b8400;
	display: block;
	margin: 12px 0;
 }
 
.help-img {
	display: block;
	margin: 10px 0;
 }
 
#hFooter {
	overflow: hidden;
	height: 98px;
	clear: both;
 }
 
#footer {
    background: #080302;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
    z-index: 10;
    padding: 15px;
    width: 1000px;
    margin: auto;
 }
 
	#footer #ws-copy {
		overflow: hidden;
		width: 190px;
		height: 98px;
		float: left;
	 }
 
	#footer #web-sborka {
		background: url(/source/img/blue/ws-logo.png)/***css-loader:: can't load recource***/ no-repeat;
		margin: 33px 33px 0;
		display: block;
		width: 120px;
		height: 35px;
	 }
 
.rcont {
	margin-right: 34px;
	margin-top: 34px;
	float: right;
 }
 
	.rcont a {
		opacity: .5;
		-webkit-transition: opacity .3s linear;
		-moz-transition: opacity .3s linear;
		-ms-transition: opacity .3s linear;
		-o-transition: opacity .3s linear;
		transition: opacity .3s linear;
	 }
 
		.rcont a:hover {opacity: 1;}
 
#footer #f-left {
	overflow: hidden;
	float: left;
 }
 
#f-nav {
	margin-bottom: 8px;
	margin-top: 13px;
	overflow: hidden;
	display: block;
	clear: both;
 }
 
	#f-nav li {
		margin-right: 10px;
		float: left;
	 }
 
		#f-nav li a {
			font-family: 'Calibri',sans-serif;
			font-size: 16px;
			color: #fff;
		 }
 
		#f-nav li:hover a {color: rgb(0, 139, 255);}
 
#f-copy {
	font-family: 'Calibri',sans-serif;
	font-size: 12px;
	display: block;
	color: #b2b2b2;
 }
 
	#f-copy a {color: #b2b2b2;}
 
#game-sell {
	font-family: 'Calibri',sans-serif;
	margin-top: 8px;
	font-size: 12px;
	display: block;
	color: #8f8e8d;
 }
 
#tooltip {
	background: rgba(0,0,0,.7);
	border-radius: 3px;
	position: absolute;
	padding: 2px 5px 0;
	z-index: 900;
 }
 
	#tooltip h3 {
		font-size: 14px;
		color: #fff;
	 }
 
#slideshow {
	position: relative;
	width: 608px;
	height: 224px;
	overflow: hidden;
 }
 
	#slideshow img {
		width: 100%;
		height: 100%;
		overflow: hidden;
	 }
 
	#slideshow .caption {
		background: rgba(0,0,0,.7);
		position: absolute;
		z-index: 1000;
		top: 182px;
		width: 100%;
		height: 42px;
		padding: 10px 15px;
		font-family: 'Calibri';
		font-size: 16px;
		font-weight: lighter;
		color: #fff;
	 }
 
.slidesjs-pagination {
	position: absolute;
	z-index: 5000;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 16px;
 }
 
	.slidesjs-pagination li {
		list-style: none;
		float: left;
	 }
 
		.slidesjs-pagination li a {
			float: left;
			width: 8px;
			height: 8px;
			margin-left: 5px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #6c6c6b;
			text-indent: -1000em;
		 }
 
			.slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active {background-color: #fff;}
 
#preload {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	z-index: 200;
 }
 
.bokeh {
	font-size: 100px;
	width: 1em;
	height: 1em;
	position: relative;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -.5em 0 0 -.5em;
	border-radius: 50%;
	border: .01em solid rgba(150,150,150,0.1);
	list-style: none;
 }
 
	.bokeh li {
		position: absolute;
		width: .2em;
		height: .2em;
		border-radius: 50%;
	 }
 
		.bokeh li:nth-child(1) {
			left: 50%;
			top: 0;
			margin: 0 0 0 -.1em;
			background: #00C176;
			-webkit-transform-origin: 50% 250%;
			-moz-transform-origin: 50% 250%;
			-ms-transform-origin: 50% 250%;
			-o-transform-origin: 50% 250%;
			transform-origin: 50% 250%;
			-webkit-animation: rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
			-moz-animation: rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
			-ms-animation: rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
			-o-animation: rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
			animation: rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;
		 }
 
		.bokeh li:nth-child(2) {
			top: 50%;
			right: 0;
			margin: -.1em 0 0 0;
			background: #FF003C;
			-webkit-transform-origin: -150% 50%;
			-moz-transform-origin: -150% 50%;
			-ms-transform-origin: -150% 50%;
			-o-transform-origin: -150% 50%;
			transform-origin: -150% 50%;
			-webkit-animation: rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
			-moz-animation: rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
			-ms-animation: rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
			-o-animation: rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
			animation: rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;
		 }
 
		.bokeh li:nth-child(3) {
			left: 50%;
			bottom: 0;
			margin: 0 0 0 -.1em;
			background: #FABE28;
			-webkit-transform-origin: 50% -150%;
			-moz-transform-origin: 50% -150%;
			-ms-transform-origin: 50% -150%;
			-o-transform-origin: 50% -150%;
			transform-origin: 50% -150%;
			-webkit-animation: rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
			-moz-animation: rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
			-ms-animation: rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
			-o-animation: rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
			animation: rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;
		 }
 
		.bokeh li:nth-child(4) {
			top: 50%;
			left: 0;
			margin: -.1em 0 0 0;
			background: #88C100;
			-webkit-transform-origin: 250% 50%;
			-moz-transform-origin: 250% 50%;
			-ms-transform-origin: 250% 50%;
			-o-transform-origin: 250% 50%;
			transform-origin: 250% 50%;
			-webkit-animation: rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
			-moz-animation: rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
			-ms-animation: rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
			-o-animation: rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
			animation: rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;
		 }
 
@-webkit-keyframes rota {to}
 
{}
 
@-moz-keyframes rota {to}
 
{}
 
@-ms-keyframes rota {to}
 
{}
 
@-o-keyframes rota {to}
 
{}
 
@keyframes rota {to}
 
{}
 
@-webkit-keyframes opa {12.0%}
 
19.5% {opacity: 0.88;}
 
37.2% {opacity: 0.64;}
 
40.5% {opacity: 0.52;}
 
52.7% {opacity: 0.69;}
 
60.2% {opacity: 0.60;}
 
66.6% {opacity: 0.52;}
 
70.0% {opacity: 0.63;}
 
79.9% {opacity: 0.60;}
 
84.2% {opacity: 0.75;}
 
91.0% {opacity: 0.87;}
 
{}
 
@-moz-keyframes opa {12.0%}
 
19.5% {opacity: 0.88;}
 
37.2% {opacity: 0.64;}
 
40.5% {opacity: 0.52;}
 
52.7% {opacity: 0.69;}
 
60.2% {opacity: 0.60;}
 
66.6% {opacity: 0.52;}
 
70.0% {opacity: 0.63;}
 
79.9% {opacity: 0.60;}
 
84.2% {opacity: 0.75;}
 
91.0% {opacity: 0.87;}
 
{}
 
@-ms-keyframes opa {12.0%}
 
19.5% {opacity: 0.88;}
 
37.2% {opacity: 0.64;}
 
40.5% {opacity: 0.52;}
 
52.7% {opacity: 0.69;}
 
60.2% {opacity: 0.60;}
 
66.6% {opacity: 0.52;}
 
70.0% {opacity: 0.63;}
 
79.9% {opacity: 0.60;}
 
84.2% {opacity: 0.75;}
 
91.0% {opacity: 0.87;}
 
{}
 
@-o-keyframes opa {12.0%}
 
19.5% {opacity: 0.88;}
 
37.2% {opacity: 0.64;}
 
40.5% {opacity: 0.52;}
 
52.7% {opacity: 0.69;}
 
60.2% {opacity: 0.60;}
 
66.6% {opacity: 0.52;}
 
70.0% {opacity: 0.63;}
 
79.9% {opacity: 0.60;}
 
84.2% {opacity: 0.75;}
 
91.0% {opacity: 0.87;}
 
{}
 
@keyframes opa {12.0%}
 
19.5% {opacity: 0.88;}
 
37.2% {opacity: 0.64;}
 
40.5% {opacity: 0.52;}
 
52.7% {opacity: 0.69;}
 
60.2% {opacity: 0.60;}
 
66.6% {opacity: 0.52;}
 
70.0% {opacity: 0.63;}
 
79.9% {opacity: 0.60;}
 
84.2% {opacity: 0.75;}
 
91.0% {opacity: 0.87;}
 
{}

.price {
	color: #1177a5;
    font-size: 28px;
    padding: 10px;
    text-align: center;
}
 
 .buyinfo {
 	border: 1px dashed #cfd7e0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 24px;
 }

 .buy {
 	cursor: pointer;
    background: rgb(189, 55, 29)!important;
    padding: 10px 50px;
    color: #fff;
    font-size: 18px;
    width: 280px;
    margin-left: 70px;
    margin-top: 50px;
 }

 .panel-title {
    padding: 10px 15px;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 0 15px;
    font-size: 15px;
}
 

 .bp1 {
    color: #b5b2b2;
    font-weight: bold;
    font-size: 30px;
    font-family: arial;
}
.bp2 {
    color: rgba(255, 255, 255, 0.59);
    font-size: 9px;
    margin-top: -3px;
    font-family: 'Open Sans',sans-serif;
}
.bptext {
            color: #cfcfcf;
}

.last_coast {
	background: rgba(251, 251, 251, 0.82);
    line-height: 23px;
    padding: 0 8px;
    height: 23px;
    top: 7px;
    position: absolute;
    left: 7px;
    text-decoration: line-through;
}

.sale_end {
    background: rgb(181, 181, 181)!important;
    padding: 10px 50px;
    color: #fff;
    font-size: 18px;
    width: 280px;
    margin-left: 70px;
    margin-top: 50px;
}


input.captcha-shop-input {
width: 434px;
text-align: center;
font-size: 20px;
color: #5a5a5a;
padding: 0px 5px;
margin-top: 45px;
margin-left: 20px;
background-color: #ededed;
border: none;
display: table;
height: 45px;
-moz-appearance: textfield;
outline: none;
-webkit-appearance: none;
}

input.captcha-shop-input::-webkit-inner-spin-button { 
  display: none;
}

.buy_game {
    font-size: 20px;
    padding: 7px 0px;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 434px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    height: 44px;
    background-color: #2e749d;
    border-bottom: none;
}

.buy_game:hover {
    background-color: #1C5F86;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.agreement a {
color: #424242;
border-bottom: 1px dotted #424242;  
}

.agreement a:hover {
text-decoration:none;
}

.popup {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 100001;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 600px;

position: fixed;
border: 1px solid #383838;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;

-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);

opacity: 0;

-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
.overlay:target+.popup {
top: 20%;
visibility: visible;
opacity: 1;
}

.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: rgba(252, 20, 0, 0.8);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);    
}
.popup p, .popup div {
margin-bottom: 20px;
}

.title_modal {
background: #272727;
color: white;
font-size: 22px;
padding: 6px;
text-align: center;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 100000;
visibility: hidden;

background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; 
cursor: default; 
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.is-image {
top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
width: 100%;
height: auto;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
}

embed, iframe {
top: 0;
right: 0;
bottom: 0; 
left: 0; 
display:block;
margin: auto;
width: 100%;
}

.select_pay {
text-align: center;
padding-bottom: 20px;
padding-top: 10px;
}

.agreement {
font-family: PFDinDisplayPro-Bold;
font-size: 13px;
padding: 5px 20px;
}




.ask_block_text {
color: #ba3535;
font-size: 19px;
}

ul.tabNavigation {
list-style: none;
margin-left: 20px;
padding: 0;
}
 
ul.tabNavigation li {
display: inline;
}
 
ul.tabNavigation li a {
padding: 24px 18px 6px 18px;
color: #000;
text-decoration: none;
}
 
ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: rgba(177, 182, 184, 0.24);
color: #000;
border-radius: 4px;
}
 
ul.tabNavigation li a:hover {
background: rgba(177, 182, 184, 0.24);
color: #000;
border-radius: 4px;
-webkit-transition: all ease .9s;
-moz-transition: all ease .9s;
-ms-transition: all ease .9s;
-o-transition: all ease .9s;
transition: all ease .9s;    
}
 
ul.tabNavigation li a:focus {
outline: 0;
}
 
div.tabs div {

}
 
div.tabs div h2 {
margin-top: 0;
}

.agreement1 {
width: 434px;
margin-left: 20px;
}

.prom {
font-family: tahoma;
font-size: 12px;
color: #424242;
float: right;
padding-bottom: 3px;
}


.inf {
    color: #D6D2D2;
    margin-top: 10px;
}



#sharebutton {
font: bold 15px/40px arial;
background: #5B7FA6;
border: 1px solid #5B7FA6;
color: #fff;
width: 252px;
border-radius: 4px;
text-align: center;
margin-top: 15px;
text-transform: uppercase;
cursor: pointer;
height: 44px;
}

#sharebutton:hover {
background: #688CB3;
}


#confirmbutton {
font: bold 15px/40px arial;
background: #ba3535;
border: 1px solid #ba3535;
color: #fff;
width: 252px;
border-radius: 4px;
text-align: center;
margin-top: 10px;
text-transform: uppercase;
cursor: pointer;
height: 44px;
}

#confirmbutton:hover {
background: #CA5858;
}

.gift_enter {
font: bold 15px/40px arial;
background: #ba3535;
border: 1px solid #ba3535;
color: #fff;
width: 252px;
border-radius: 4px;
text-align: center;
margin-top: 10px;
text-transform: uppercase;
cursor: pointer;
height: 44px;
}

.gift_enter:hover {
    background: #CA5858;
}


.avavk {
background: url('https://vk.com/images/camera_50.gif')/***css-loader:: can't load recource***/;
}



.bord {
padding: 30px;
background: #F1F1F1;
}

.purm {
width: 100%;
    padding: 0 10px;
    border: 1px solid #C3CBD4;
    border-radius: 3px;
    height: 35px;
}

.purc {
width: 200px;
    padding: 0 10px;
    border: 1px solid #C3CBD4;
    border-radius: 3px;
    height: 35px;
}

.butp {
    width: 100%;
    border: none;
    height: 42px;
    background: #2E749D;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.butp:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: #BA3535;
}

.erorp {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px 70px;
}

.titlep {
font-weight:bold;
}

.orderp {
    border-top: 1px solid #DFDCDC;
}

.ordert {
width:100%;
border: 0px;
    border-collapse: collapse;
}

.ordert td {
    padding: 7px 5px;
    font-size: 14px;
    color: #616161;
}

.orderp:hover {
    background: rgba(0, 0, 0, 0.03);
}

.sendb {
    border: none;
    padding: 4px 5px;
    color: #fff;
    background-color: #545151;
    cursor: pointer;
    border-radius: 3px;
}

.succ {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px 20px;
}

.eror1 {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px 20px;
}


.butorder {
    padding-left: 30px !important;
    background: url('/img/sprite.png') 0 -174px no-repeat;
}

.linka li {
    cursor: pointer;
    background: #3D9BF5;
    border: none;
    border-radius: 3px;
    font: bold 12px/36px Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 5px;
    width: 165px;
    text-align: center;
    float: right;
    list-style: none;
    margin-top: 20px;
}

.linka li:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: #2D82D4;
}

.nonet {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 55px;
    text-align: left;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #678EA5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}






.holder {
	margin: 15px 0;
	text-align: center;

}

.holder a {
	cursor: pointer;
	color: #333;
    padding: 4px 7px;
}



.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
    color: #ffffff;
    padding: 4px 7px;
    background: #3e4043;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
}

.holder span { margin: 0 5px; }